<div class="center">
  <div class="row">
    <% @listings.each do |listing| %>
      <div class="col-md-3">
        
      </div>
    <% end %>
  </div>
</div>

<br>

<%= link_to 'New Listing', new_listing_path %>
